BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
ColumnLimit: 120
ReflowComments: false
---
Language: Cpp
Standard: Cpp11
PointerAlignment: Left
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
---

