<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>ko_KR</string>
		<key>CFBundleExecutable</key>
		<string>damn_app</string>
		<key>CFBundleIdentifier</key>
		<string>dev.luncliff.damn-app</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>luncliff-damn_app</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>CFBundleShortVersionString</key>
		<string>0.0.1</string>
		<!-- platform/architectures -->
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<!-- orientations -->
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<!-- permissions -->
		<key>NSCameraUsageDescription</key>
		<string>need a perm to use camera</string>
	</dict>
</plist>
